

{% extends 'base.html.twig' %}

{% block title %}Artic index{% endblock %}


{% block body %}


    <h1></h1>
    <table class="table">
        <thead>
        <tr>
            {#<th>Id</th>
            <th>anun</th>  #}

        </tr>
        </thead>
        <tbody>
{#            {% for Artic in Artics %}#}
{#            <tr>#}
{#                <td>{{ Artic.id }}</td>#}
{#                <td>{{ Artic.anun }}</td>#}



{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="3">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
        </tbody>
    </table>

{#    <a href="{{ path('ArticNew') }}">Create new</a>#}
{% endblock %}
